<div class="loading-indicator-spin">
    <span><i class="fa fa-spinner fa-pluse fa-3x fa-fw margin-bottom text-white"></i></span>
    <div class="upload-progress-count default-diaplay-none"></div>
</div>

<div class="toplogobar">
    <span class="site-logo text-center m-t-30 m-b-20"><img src="/images/logo.png" height="36"></span>

</div>

<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="/home" class="logo"></a>
        </div>
    </div>
    {% includes "/navbar.html" %}
</div>