<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse cssmenu" id="myNavbar">
            <ul class="nav navbar-nav navbar-right pull-right menu-ul">
                <li><a class="home-menu" href="/infolist/mail-conf">HOME</a>
                <li><a class="home-menu" href="/infolist/user-group">USER GROUP</a></li>
                <li><a class="home-menu" href="/infolist/regenrate-password">REGENRATE</a></li>
                <li> class="dashboard-to-menu"<a href="/infolist/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</div>